<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}Welcome{{ end }} | MiniTwit</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="page">
    <header>
      <h1>MiniTwit</h1>
      <nav class="navigation">
          <a href="/">Public Timeline</a> |
          <a href="/">Sign Up</a> |
          <a href="/">Sign In</a>
      </nav>
    </header>
    <main class="body">
      {{ block "body" . }}{{ end }}
    </main>

    <footer class="footer">
      MiniTwit &mdash; A Go Gorilla web application
    </footer>
  </div>
</body>
</html>
