{{ define "body" }}
    {{ if eq .PageType "public" }}
        <h2> Public Timeline</h2>
    {{ else if eq .PageType "user" }}
        <h2> {{ .Username }}'s Timeline</h2>
    {{ else }}
        <h2> My Timeline</h2>
    {{ end }}
    {{ if ne .User nil }}
    <div class="twitbox">
        <h3>What's on your mind {{  .User.Username }}?</h3>
        <form action="/add_message" method=post>
            <p><input type=text name=text size=60><!--
            --><input type=submit value="Share">
          </form>
        </form>
    </div>
    {{ end }}
    {{ if .Messages }}
        <ul class="messages">
            {{ range .Messages }}
                <li>
                    <img src="{{ getGravatar .Email 40 }}" alt="Gravatar">
                    <p>
                        <strong><a href="/{{ .Author }}">{{ .Author }}</a></strong>
                        {{ .Content }}
                        <small>&mdash; {{ .PubDate }}</small>
                    </p>
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p><em>There's no message so far.</em></p>
    {{ end }}
{{ end }}
