{{ define "body" }}
    {{ if .Messages }}
        <ul class="messages">
            {{ range .Messages }}
                <li>
                    <img src="{{ getGravatar .Email 40 }}" alt="Gravatar">
                    <p>
                        <strong><a href="/">{{ .Author }}</a></strong>
                        {{ .Content }}
                        <small>&mdash; {{ .PubDate }}</small>
                    </p>
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p><em>There's no message so far.</em></p>
    {{ end }}
{{ end }}
