{{ define "body" }}
    {{ if eq .PageType "public" }}
        <h2>Public Timeline</h2>
        {{ define "title" }}Public Timeline{{ end }}
    {{ else if eq .PageType "user" }}
        <h2>{{ .ProfileUser.Username }}'s Timeline</h2>
        {{ define "title" }} {{ .ProfileUser.Username }}'s Timeline {{ end }}
    {{ else }}
        <h2>My Timeline</h2>
        {{ define "title" }}My Timeline{{ end }}
    {{ end }}

    {{ if ne .User nil }}
        {{ if eq .PageType "user" }}
            <div class="followstatus">
                {{ if eq .User.ID .ProfileUser.ID }}
                    <p>This is you!</p>
                {{ else if .Followed }}
                    <p>You are currently following this user. 
                        <a class="unfollow" href="/{{ .ProfileUser.Username }}/unfollow">Unfollow user</a>.
                    </p>
                {{ else }}
                    <p>You are not yet following this user. 
                        <a class="follow" href="/{{ .ProfileUser.Username }}/follow">Follow user</a>.
                    </p>
                {{ end }}
            </div>
        {{ end }}

        <div class="twitbox">
            <h3>What's on your mind, {{ .User.Username }}?</h3>
            <form action="/add_message" method="post">
                <p><input type="text" name="text" size="60">
                <input type="submit" value="Share"></p>
            </form>
        </div>
    {{ end }}

    {{ if .Messages }}
        <ul class="messages">
            {{ range .Messages }}
                <li>
                    <img src="{{ getGravatar .Email 48 }}" alt="Gravatar">
                    <p>
                        <strong><a href="/{{ .Author }}">{{ .Author }}</a></strong>
                        {{ .Content }}
                        <small>&mdash; {{ .PubDate }}</small>
                    </p>
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p><em>There's no message so far.</em></p>
    {{ end }}
{{ end }}
